<style>
    @media only screen and (max-width: 580px) {
        .alert-div-all {
            width: 80% !important;
            margin-top: 10px;
        }
    }
</style>

<% if (typeof success !== 'undefined' && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 mx-auto alert-div-all" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 


<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 mx-auto alert-div-all" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>


