<% layout("/layouts/boilerplate") %>
<style>
    @media only screen and (max-width: 580px) {
    .login-div {
        margin: 10px !important;
        min-width: 95% !important;
    }
    .alert-div{
        width: 80% !important;
        text-align: center !important;
    }
    
}
</style>

<div class="row mt-3">
    <div class="alert alert-dark mx-auto alert-div" >
    Login to proceed!
  </div>
    <div class="col-6 offset-3 login-div">
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input name="username" id="username" placeholder="rahulkumar12"
                       type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input name="password" id="password" placeholder="eg: rahul@12"
                       type="password" class="form-control" required>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>