<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input name="username" id="username" placeholder="rahulkumar12"
                       type="text" class="form-control" required>
                <div class="valid-feedback">looks good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input name="email" id="email" placeholder="rahulkumar12@gmail.com"
                       type="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input name="password" id="password" placeholder="eg: rahul@12"
                       type="password" class="form-control" required>
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>